#root {
  max-width: 4800px;
  margin: auto auto;
  padding: 2rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  background-color: #252b2d;
}

body {
  background-color: #252b2d;
}

.btn {
  margin: 1rem auto;
  background-color: #b2bec3;
  box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 gray;
  display: flex;
}

.btn:hover {
  background-color: #ff7675;
}

.progress-bar {
  background-color: #0091ff;
  color: #dfe6e9;
  display: flex;
  font-style: italic;
  box-shadow: 0 4px 8px 0 #376ca0, 0 4px 8px 0 #0984e3;

}

.progress {
  background-color: #262d2f;
  box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 gray;
  justify-content: start;
}

.form-control {
  box-shadow: 0 8px 16px 0 black, 0 4px 10px 0 gray;
  max-width: 2400px;
}

.container-fluid {
  margin: 2rem auto;
  background-color: #2d3436;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 black, 0 4px 10px 0 gray;
  padding: 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.table {
  border-radius: 20px;
  color:aqua;
}

.center {
  display: flex;
  justify-content: left;
  padding: 1rem 0.6rem;
  align-items: center;
  height: 3rem;

}
#sum-label {
  padding-left: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: italic;
}

#month-select {
  background-color: #b2bec3;
  color: #2d3436;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: italic;
}


#month-select:hover {
  background-color: #ff7675;
}

.select-month-label {
  padding-right: 20px
}

.btn.btn-secondary.dropdown-toggle {
  display: block;
}

#confirm-delete-btn {
  color: white;
  background-color: rgb(172, 0, 0);
}

.modal-title {
  font-size: medium;
}

.close {
  display: flex;
  flex-direction: row;
}
